/* NORMALIZADO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    --principal: #000000;
    --secondary: #fff;
    --tertiary: rgb(136, 7, 7);
}

/* FONT */

@font-face {
    font-family: 'Smooch Sans', sans-serif;
    src: url('../public/font/SmoochSans-VariableFont_wght.ttf');
}

/* GLOBAL */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

body {
    min-height: 100vh;
    font-family: 'Smooch Sans', sans-serif;
}

/* HELPERS */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* .container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
} */

/* NAVEGACION */

header {
    background-color: var(--secondary);
    border-bottom: 2px solid gray;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--principal);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--principal);
    font-size: 2rem;
}

.dropdown-item {
    color: var(--principal);
    font-size: 1.5rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--principal);
    font-size: 2rem;
}

/* MAIN */

.home {
    background-image: url(../public/img/Gimnasio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 19.5rem;
    padding: 1rem;
}

h1 {
    color: var(--secondary);
    text-shadow: 0 0 10px var(--tertiary);
    text-align: center;
}

.h1,
h1 {
    font-size: 15rem;
}

#nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "titulo1 titulo1"
        "parrafo1 imagen1";
    gap: 40px;
    align-items: center;
    justify-items: center;
    padding-bottom: 150px;
}

#nosotros .titulo1 {
    grid-area: titulo1;
}

#nosotros .parrafo1 {
    grid-area: parrafo1;
}

#nosotros .imagen1 {
    grid-area: imagen1;
}

#nosotros h2 {
    font-size: 10rem;
    text-align: center;
    padding: 10px;
}

#nosotros p {
    font-size: 3.2rem;
    text-align: center;
    padding-inline: 40px;
}

#membresias {
    font-size: 10rem;
    text-align: center;
    padding: 10px;
    padding-bottom: 75px;
}

/* #servicios table {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin: 100px;
}

#servicios th {
    background-color: var(--tertiary);
    color: var(--secondary);
    padding-inline: 20px;
    text-align: center;
}

#servicios td {
    padding-inline: 20px;
} */

#servicios .tablaMembresias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "m1 i1 v1"
        "m2 i2 v2"
        "m3 i3 v3"
        "m4 i4 v4";
    align-items: center;
    text-align: center;
    font-size: 3.2rem;
}

.border {
    border: 1px solid black;
}

#servicios .m1 {
    grid-area: m1;
    color: var(--tertiary);
}

#servicios .m2 {
    grid-area: m2;
}


#servicios .m3 {
    grid-area: m3;
}


#servicios .m4 {
    grid-area: m4;
}


#servicios .i1 {
    grid-area: i1;
    color: var(--tertiary);
}


#servicios .i2 {
    grid-area: i2;
}


#servicios .i3 {
    grid-area: i3;
}


#servicios .i4 {
    grid-area: i4;
}


#servicios .v1 {
    grid-area: v1;
    color: var(--tertiary);
}


#servicios .v2 {
    grid-area: v2;
}


#servicios .v3 {
    grid-area: v3;
}


#servicios .v4 {
    grid-area: v4;
}

#servicios ol {
    font-size: 6rem;
    text-align: center;
}

#personalizados {
    font-size: 10rem;
    text-align: center;
}

#serviciosPersonalizados p {
    font-size: 3.2rem;
    text-align: center;
    padding: 40px;
}

#serviciosPersonalizados {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "titulo2 titulo2"
        "lista1 lista1"
        "parrafo2 imagen2";
    align-items: center;
    justify-items: center;
    padding-bottom: 50px;
}

#serviciosPersonalizados #personalizados {
    grid-area: titulo2;
}

#serviciosPersonalizados .lista1 {
    grid-area: lista1;
}

#serviciosPersonalizados .parrafo2 {
    grid-area: parrafo2;
}

#serviciosPersonalizados .imagen2 {
    grid-area: imagen2;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "imagen1 imagen2 imagen3"
        "imagen4 imagen6 imagen6"
        "imagen5 imagen6 imagen6";
    gap: 20px;
    align-items: center;
    justify-items: center;
}

#galeria .galeriaimg1 {
    grid-area: imagen1;
    width: 300px;
}

#galeria .galeriaimg2 {
    grid-area: imagen2;
    width: 300px;
}

#galeria .galeriaimg3 {
    grid-area: imagen3;
    width: 300px;
}

#galeria .galeriaimg4 {
    grid-area: imagen4;
    width: 300px;
}

#galeria .galeriaimg5 {
    grid-area: imagen5;
    width: 300px;
}

#galeria .galeriaimg6 {
    grid-area: imagen6;
    width: 600px;
}

.faqTitulo {
    font-size: 15rem;
    text-align: center;
    padding: 20px;
}

#faq h2 {
    font-size: 10rem;
    text-align: center;
    padding: 20px;
}

#faq p {
    font-size: 3.2rem;
    text-align: center;
    padding-inline: 40px;
}

.contactoTitulo {
    font-size: 15rem;
    text-align: center;
    padding: 20px;
}

#formulario {
    font-size: 1.4rem;
}

#formulario {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--secondary);
    color: var(--principal);
    text-align: center;
    align-items: center;
    gap: 10px;
}

form {
    border: 2px solid gray;
    padding: 5px;
}

/* FOOTER */

.footer {
    display: grid;
    grid-template-areas:
        "horario servicios servicios servicios servicios"
        "mail ig fb tw wpp";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 1fr 1fr 1fr 1fr;
    background-color: var(--secondary);
    color: var(--principal);
    font-size: 2rem;
    text-align: center;
    align-items: center;
    min-height: 30vh;
    border-top: 2px solid gray;
}

#horario {
    grid-area: horario;
}

#mail {
    grid-area: mail;
}

#servicios {
    grid-column: servicios;
}

#ig {
    grid-area: ig;
}

#fb {
    grid-area: fb;
}

#tw {
    grid-area: tw;
}

#wpp {
    grid-area: wpp;
}

.footer #servicios a {
    color: var(--principal);
}

/* MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    header {
        padding: 2em 0;
    }

    header .navegacion {
        flex-wrap: wrap;
        justify-content: center;
    }

    #nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "titulo1"
            "parrafo1"
            "imagen1";
        gap: 0;
    }

    #serviciosPersonalizados {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "titulo2"
            "lista1"
            "imagen2"
            "parrafo2";
        gap: 0;
    }

    #galeria {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "imagen1 imagen2"
            "imagen3 imagen3"
            "imagen6 imagen6"
            "imagen6 imagen6"
            "imagen4 imagen5";
        gap: 0;
    }

    .h1,
    h1 {
        font-size: 10rem;
    }

    #nosotros h2 {
        font-size: 6rem;
    }

    #nosotros p {
        font-size: 2rem;
    }

    #membresias {
        font-size: 6rem;
    }

    #servicios .tablaMembresias {
        font-size: 2rem;
    }

    #personalizados {
        font-size: 6rem;
    }

    #servicios ol {
        font-size: 3rem;
    }

    #serviciosPersonalizados p {
        font-size: 2rem;
    }

    .footer {
        font-size: 1.5rem;
    }

    #faq h2 {
        font-size: 6rem;
    }

    #faq p {
        font-size: 2rem;
    }

    .contactoTitulo {
        font-size: 10rem;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 2em 0;
    }

    header .navegacion {
        flex-wrap: wrap;
        justify-content: center;
    }

    #nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "titulo1"
            "parrafo1"
            "imagen1";
        gap: 0;
    }

    #serviciosPersonalizados {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "titulo2"
            "lista1"
            "imagen2"
            "parrafo2";
        gap: 0;
    }

    #galeria {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "imagen1 imagen2"
            "imagen3 imagen3"
            "imagen6 imagen6"
            "imagen6 imagen6"
            "imagen4 imagen5";
        gap: 0;
    }

    .h1,
    h1 {
        font-size: 5rem;
    }

    #nosotros h2 {
        font-size: 3rem;
    }

    #nosotros p {
        font-size: 1rem;
    }

    #membresias {
        font-size: 3rem;
    }

    #servicios .tablaMembresias {
        font-size: 1rem;
    }

    #personalizados {
        font-size: 3rem;
    }

    #servicios ol {
        font-size: 1.5rem;
    }

    #serviciosPersonalizados p {
        font-size: 1rem;
    }

    .footer {
        font-size: 0.75rem;
    }

    img {
        height: 170px;
    }

    .footer img {
        height: 30px;
    }

    #faq h2 {
        font-size: 3rem;
    }

    #faq p {
        font-size: 1rem;
    }

    .contactoTitulo {
        font-size: 5rem;
    }
}