* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-size: 200%;
    font-family: 'Smooch Sans', sans-serif;
    src: url('../public/font/SmoochSans-VariableFont_wght.ttf');
}

a {
    text-decoration: none;
}

#logo img {
    width: 200px;
    padding: 20px;
}

.navegacion {
    background-color: rgb(255, 255, 255);
    height: 150px;
}

.navegacionMenu>li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    bottom: 100px;
    left: 700px;
    padding-inline: 60px;
}

.navegacionMenu li a:hover {
    color: brown;
}

.navegacionSubMenu {
    position: absolute;
    width: 11%;
    display: none;
    color: black;
    background-color: aqua;
    bottom: 570px;
    left: 1000px;
    padding: 15px;
}

.navegacionMenu li:hover .navegacionSubMenu {
    display: block;
}

header a {
    color: black;
}

#home {
    background-image: url(../public/img/Gimnasio.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 695%;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 0, 0);
    text-align: center;
}

.faqTitulo {
    font-size: 150px;
    text-align: center;
    padding: 20px;
}

#faq h2 {
    font-size: 100px;
    text-align: center;
    padding: 20px;
}

#faq p {
    font-size: 35px;
    text-align: center;
    padding-inline: 40px;
}

#sobreNosotros h2 {
    font-size: 100px;
    text-align: center;
    padding: 20px;
}

#sobreNosotros p {
    font-size: 35px;
    text-align: center;
    padding-inline: 40px;
}

#servicios h2 {
    font-size: 100px;
    text-align: center;
    padding: 20px;
}

#servicios table {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

#servicios th {
    background-color: rgb(136, 7, 7);
    color: white;
    padding-inline: 20px;
    text-align: center;
}

#servicios td {
    padding-inline: 20px;
}

#servicios p {
    font-size: 35px;
    text-align: center;
    padding: 40px;
}

#servicios ol {
    font-size: 50px;
    text-align: center;
    line-height: 80px;
}

.footerFondo {
    background-color: rgb(136, 7, 7);
    color: white;
    height: 450px;
}

.footerFondo a {
    color: white;
    display: inline-block;
    position: absolute;
    bottom: -1360px;
    left: 1300px;
}

.footerFondo iframe {
    padding-inline: 70px;
    padding-top: 70px;
    width: 500px;
    height: 400px;
    display: inline-block;
}

.footerFondo #horario {
    display: inline-block;
    list-style-type: none;
    position: absolute;
    bottom: -1430px;
    left: 700px;
    text-align: center;
}

.footerFondo #mail {
    display: inline-block;
    list-style-type: none;
    position: absolute;
    bottom: -1570px;
    left: 700px;
    text-align: center;
}

.serviciosContacto a {
    color: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    bottom: -40px;
    left: 1300px;
}

.contactoTitulo {
    font-size: 150px;
    text-align: center;
    padding: 20px;
}

.footerFondo #horarioContacto {
    display: inline-block;
    list-style-type: none;
    position: absolute;
    bottom: -100px;
    left: 700px;
    text-align: center;
}

.footerFondo #mailContacto {
    display: inline-block;
    list-style-type: none;
    position: absolute;
    bottom: -250px;
    left: 700px;
    text-align: center;
}